.home {
    display: flex;
    justify-content: center;
}

#three-container {
    position: fixed;
    /* Or 'absolute', depending on your layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensures it stays behind other content */
}


body {
    background: radial-gradient(circle at center, rgb(32, 30, 31) 30%, black 100%);
    color: gray;
}



.nav {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
    width: 103px;
    height: 140px;
}

.navbar-custom {
    background-color: rgb(73, 73, 73);
    width: 430px;
    border: rgb(214, 207, 180) 3px solid;
    margin: 40px;
}

.Header {
    color: rgb(214, 207, 180);
    position: absolute;
    left: 1290px;
    top: 5px;
}

.name {
    font-size: 100px;
}

.name-font {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .nav-font {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .navbar-custom .nav-link {
    color: rgb(214, 207, 180);
  }

  
  .developer-font {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    font-size: 20px;
    color: rgb(214, 207, 180);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 400px;
    margin-left: 400px;
    position: relative;
    top: 350px;
  }

  .profile-pic {
    border-radius: 50%;
    width: 310px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 700px;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .project-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid rgb(214, 207, 180);
    color: rgb(214, 207, 180);
    text-align: center;
    position: relative;
    top: 250px;
  }
  
  .project-circle:hover {
    transform: scale(1.1);
  }

  .project-title {
    font-size: 20px;
    position: relative;
    bottom: 40px;
    text-align: center;
  }

  .projects {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    color: rgb(214, 207, 180);
    position: relative;
    top: 150px;
  }
  