#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1
}

.home {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    text-align: center;
    position: relative;
}

#three-container {
    position: fixed;
    /* Or 'absolute', depending on your layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensures it stays behind other content */
}

.app-container {
    display: flex;
    flex-direction: row;
    /* Lays out children in a row */
    justify-content: space-between;
    /* Spaces out children */
    align-items: center;
    /* Vertically centers children */
}

@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
        /* Stacks children vertically on smaller screens */
    }
}


body {
    background: radial-gradient(circle at center, rgb(56, 54, 55) 30%, black 100%);
    color: gray;
}


.nav {
    font-size: 20px;
    border: 2px solid white;
}

.navbar-custom {
    background-color: #333;
    width: 430px;
    border: rgb(214, 207, 180) 3px solid;
    margin: 40px;
    z-index: 2;
}

.Header {
    color: rgb(214, 207, 180);
    display: flex;
    /* Enables Flexbox for your header */
    flex-direction: column;
    align-items: flex-start;
    /* Aligns items to the left */
    position: relative;
    left: 20px;
    /* Adjust as needed */
    top: 10px;
    /* Adjust as needed */
    z-index: 1;
}

.name {
    font-size: 80px;
}

.name-font {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nav-font {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.navbar-custom .nav-link {
    color: rgb(214, 207, 180);
}

.nav-link {
    transition: font-size 0.3s ease;
    /* Smooth transition for font-size change */

}

.nav-link:hover {
    font-size: 1.2em;
    /* Increase font size on hover */
}

.nav-link.active {
    font-size: 1.2em;
    font-weight: bold;
}

.developer {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: rgb(214, 207, 180);
    position: relative;
    left: 50px;
}


.developer-font {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(214, 207, 180);
    text-align: center;
    width: 80%;
    margin-top: 80px;
}

.profile-pic {
    border-radius: 50%;
    width: 310px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;
    top: 80px;
    border: 2px solid rgb(214, 207, 180);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid rgb(214, 207, 180);
    color: rgb(214, 207, 180);
    text-align: center;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.project-circle:hover {
    transform: scale(1.1);
}

.project-title {
    position: relative;
    bottom: 40px;
    text-align: center;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: rgb(214, 207, 180);
}

.projects {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    color: rgb(214, 207, 180);
}

footer {
    color: rgb(214, 207, 180);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.my-icon {
    color: rgb(214, 207, 180);
    font-size: 24px;
}

.info-buttons {
    color: rgb(214, 207, 180);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

.info-option {
    cursor: pointer;
}

.info-option:hover {
    color: #0056b3;
    /* Darker shade for hover effect */
    text-decoration: none;
    /* Optional: remove underline on hover for a button-like feel */
}

.info-content {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.about-me {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 40px;
}

.about-me-text {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.active-info {
    font-weight: bold;
    text-decoration: underline;
}

.contact-me {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 40px;
}

.contact-name {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.submit-btn {
    background-color: #333;
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    border: 2px solid rgb(214, 207, 180);
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust based on your design needs */
}

.message-box {
    margin-left: 20px;
}

.message {
    position: relative;
    bottom: 35px;
}

.below-contact {
    margin-top: 40px;
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
}

.resume {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    position:relative;
    top: 200px;
}

.resume-text {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    position:relative;
    top: 200px;
}

#error-page {
    color: rgb(214, 207, 180);
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}